@import './text/text';
@import './layout/layout';

$base-color: #036;

// size
@for $i from 1 through 100 {
    .h-#{$i} {
      Height: #{$i}rem;
    }
  }

@for $i from 1 through 100 {
  .w-#{$i} {
    Width: #{$i}rem;
  }
}

@for $i from 1 through 100 {
  .h-#{$i}vh {
    Height: #{$i}vh;
  }
}

@for $i from 1 through 100 {
.w-#{$i}vw {
  Width: #{$i}vw;
}
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}

.h-max {
  height: 100%;
}

.w-max {
  width: 100%;
}
//color

.filter-white{
  filter: invert(100%) sepia(4%) saturate(7482%) hue-rotate(233deg) brightness(113%) contrast(95%);
}